{% extends 'base.html' %}

{% block title %}
Club Edit 
{% endblock %}

{% block content %}
<script>
  function popup()
  {
    alert("Edited successfully")
  }
</script>
{% load static %}

    <h1 style="color: rgb(10, 10, 10); font-family: Verdana, Geneva, Tahoma, sans-serif; text-shadow: -3px 3px 4px #000000; margin-left: 600px;">Club's Sign Up</h1>
    <br>
    <div class="col-lg-5 align-self-center">
        <form id="contact" action="clubedt/{{result.id}}" enctype="multipart/form-data" method="POST" style="width: 950px; border: none; height: 600px; box-shadow: 10px 10px 20px; background-color: rgb(228, 225, 213); margin-left: 270px;">
            {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <img src="{% static 'images\clubs.jpeg' %}" style="height: 600px; width: 470px; margin-left: -15px;" alt="">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" align="center">
                    <br><br>
                    <div class="row" style="margin-left: 15px;">
                        <div class="col-lg-12">
                            <fieldset>
                              <input type="text" name="clubname" class="form-control" id="clubname" value="{{result.clubname}}" placeholder="Club Name" autocomplete="on" required pattern="[A-Z a-z.]{3,25}" style="height: 30px; width: 250px; border: transparent; background-color: transparent;">
                              <hr style="margin-top: -1px; color: black; width: 350px;">
                            </fieldset>
                          </div>
                          <br>
                          <br>
                        <div class="col-lg-12">
                          <fieldset>
                            <input type="text" name="managername" class="form-control" id="managername" value="{{result.managername}}" placeholder="Manager Name" autocomplete="on" required pattern="[A-Z a-z.]{3,25}" style="height: 30px; width: 250px; border: transparent; background-color: transparent;">
                            <hr style="margin-top: -1px; color: black; width: 350px;">
                          </fieldset>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12">
                          <fieldset style="margin-top: 10px;">
                            <input type="number" name="phone" class="form-control" id="phone" value="{{result.phone}}" placeholder="Phone" autocomplete="on" required pattern="[6789][0-9]{9}" style="height: 30px; width: 250px; border-radius: 3px; border: transparent; background-color: transparent;">
                            <hr style="margin-top: -1px; color: black; width: 350px;">
                          </fieldset>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12">
                            <fieldset style="margin-top: 10px;">
                              <input type="text" name="clubid" class="form-control" id="clubid" value="{{result.clubid}}" placeholder="Club Registered ID" autocomplete="on" required style="height: 30px; width: 250px; border-radius: 3px; border: transparent; background-color: transparent;">
                              <hr style="margin-top: -1px; color: black; width: 350px;">
                            </fieldset>
                          </div>
                          <br>
                          <br>
                        <div class="col-lg-12">
                          <fieldset>
                            <input type="text" name="location" class="form-control" id="location" value="{{result.location}}" placeholder="Location" autocomplete="on" required style="height: 30px; width: 250px; border: transparent; background-color: transparent;">
                            <hr style="margin-top: -1px; color: black; width: 350px;">
                          </fieldset>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12">
                          <fieldset style="margin-top: 10px;">
                            <input type="email" name="email" class="form-control" id="email" value="{{result.email}}" pattern="[^ @]*@[^ @]*" placeholder="Email" style="height: 30px; width: 250px; border-radius: 3px; border: transparent; background-color: transparent;">
                            <hr style="margin-top: -1px; color: black; width: 350px;">
                          </fieldset>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-lg-12">
                          <label for="" style="margin-left: -200px;">Club Logo :</label>
                          <fieldset style="margin-top: 10px;">
                            <input type="file" name="image" class="form-control" id="image" pattern="" placeholder="Image" style="height: 40px; width: 250px; border-radius: 3px; border: transparent; background-color: transparent;">
                            <hr style="margin-top: -1px; color: black; width: 350px;">
                          </fieldset>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12">
                          <fieldset style="margin-top: 10px;">
                            <input type="password" name="password" class="form-control" id="website" value="{{result.password}}" placeholder="Password" required="" style="height: 30px; width: 250px; border-radius: 3px; border: transparent; background-color: transparent;">
                            <hr style="margin-top: -1px; color: black; width: 350px;">
                          </fieldset>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12">
                          <fieldset style="margin-top: 10px;">
                            <button type="submit" onclick="popup()" class="form-control me-2 button" id="form-submit" class="main-button" style="height: 60px; width: 250px; border-radius: 3px; background-color: #E8751A; font-weight: bold; color: white;">Edit</button>
                          </fieldset>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        </form>
      </div> 

  
  <br><br><br><br>
{% endblock %}