{% extends 'base.html' %}

{% block title %}
Home 
{% endblock %}

{% block content %}  

{% load static %}

  <section class="section main-banner" id="top" data-section="section1">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img src="{% static 'images\SportConnect.png' %}" alt="" style="height: 600px; width: 500px; margin-left: 100px; margin-top: 10px;">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="header-text" style="margin-top: 300px;" align="center">
              <div class="caption">
                  <h1 style="color: rgb(75, 74, 74); font-size: 80px; text-shadow: 2px 5px 4px #000000;">SPORTCONNECT</h1>
              </div>
          </div>
          </div>
        </div>
      </div>
  </section>
  <section style="margin-top: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="column">
            <div class="card" style="width: 18rem; background-color: rgb(223, 227, 233); box-shadow: 10px 10px 10px rgb(61, 61, 61);">
              <img src="{% static 'images\Basketball.jpeg' %}" class="card-img-top" style="height: auto;" alt="...">
            </div>
          
            <div class="card" style="width: 18rem; background-color: rgb(223, 227, 233); box-shadow: 10px 10px 10px rgb(61, 61, 61); margin-left: 300px; margin-top: -400px;">
              <img src="{% static 'images\Tennis.jpeg' %}" class="card-img-top" style="height: auto;" alt="...">
            </div>
         
            <div class="card" style="width: 18rem; background-color: rgb(223, 227, 233); box-shadow: 10px 10px 10px rgb(61, 61, 61); margin-left: 300px; margin-top: 10px;">
              <img src="{% static 'images\Football.jpeg' %}" class="card-img-top" style="height: auto;" alt="...">
            </div>
          
            <div class="card" style="width: 18rem; background-color: rgb(223, 227, 233); box-shadow: 10px 10px 10px rgb(61, 61, 61);  margin-top: -220px;">
              <img src="{% static 'images\Cricket.jpeg' %}" class="card-img-top" style="height: auto;" alt="...">
            </div>

            <div class="card" style="width: 18rem; background-color: rgb(223, 227, 233); box-shadow: 10px 10px 10px rgb(61, 61, 61);  margin-left: 300px; margin-top: -130px;">
              <img src="{% static 'images\Badminton.jpeg' %}" class="card-img-top" style="height: auto;" alt="...">
            </div>

            <div class="card" style="width: 18rem; background-color: rgb(223, 227, 233); box-shadow: 10px 10px 10px rgb(61, 61, 61); margin-top: -225px;">
              <img src="{% static 'images\Boxing.jpeg' %}" class="card-img-top" style="height: auto;" alt="...">
            </div>
          </div> 
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="margin-top: 150px;">
            <h1 align="center" style="text-shadow: 2px 2px 4px #000000;">About Us</h1>
            <p align="center" >
      
                          Welcome to SportConnect, your all-in-one destination for collaborative
              engagement in sports, athletics, and martial arts. SportConnect is a dynamic
              web platform that brings together enthusiasts, athletes, and martial artists,
              providing a comprehensive space for collaboration and community building.
              The platform boasts an extensive array of features, including dedicated sections
              for each sport, where users can discover, discuss, and collaborate on various
              disciplines. From sharing training tips to discussing the latest events,
              SportConnect fosters a vibrant community for sports enthusiasts worldwide.
  
              SportConnect goes beyond virtual collaboration by introducing a personalized
              touch to fitness journeys. The platform's innovative Personal Trainer module
              allows users to connect with certified trainers, facilitating tailored workout
              plans, coaching sessions, and expert advice. Whether you're a seasoned athlete
              or a beginner, the Personal Trainer module empowers users to achieve their
              fitness goals with professional guidance.
  
              In addition to the collaborative and fitness-focused modules, SportConnect
              offers a unique shopping experience. The platform features a module dedicated
              to helping users discover the best shops for purchasing sports accessories. From
              high-performance gear to specialized equipment, users can access details about
              nearby shops, read reviews, and make informed decisions on their purchases.
  
              SportConnect aims to revolutionize the way sports enthusiasts connect, train,
              and shop. With its user-friendly interface, diverse collaboration features,
              personalized training options, and a curated shopping experience, SportConnect
              stands as a hub for the global sports community to come together, learn, and
              thrive. Join SportConnect today and elevate your sports experience to new
              heights.
          </p>
          </div>
        </div>
      </div>
    </div>
      
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section style="margin-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31334.180630882805!2d76.2083786!3d10.980531099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7cc5e3ac54c49%3A0x84ac7c400666ac61!2sAngadipuram%2C%20Kerala!5e0!3m2!1sen!2sin!4v1685350604314!5m2!1sen!2sin" width="600" height="450" style="border:0; border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h1 align="center" style="text-shadow: 2px 2px 4px #262525;">Contact Us</h1>
          <br>
            <input type="text" placeholder="Your Name" class="form-control me-2" style="height: 50px; width: 250px; border-radius: 3px;"><input type="text" placeholder="Your Email" class="form-control me-2" style="height: 50px; width: 250px; margin-left: 350px; border-radius: 3px; margin-top: -50px;">
            <br>
            <textarea name="" id="" cols="30" rows="10" class="form-control me-2" style="height: 210px; width: 600px; border-radius: 3px;" placeholder="Your Message"></textarea>
            <br>
            <a class="btn btn-primary" style="background-color: #E8751A; border: none; height: 50px; width: 200px; font-size: 20px; font-weight: bold; box-shadow: 2px 2px 4px #000000;" href="#" role="button">Send Message</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}